html, body {
    font-size: 18px;
}

div.leftMenu {
    width: 17%;
    height: 100%;
    float: left;
}


div.mainSection {
    float: right;
    padding-left: 5%;
    width: 77%;
    height: 100%;
}
