@(userExerciseEntries: List[ExerciseEntry])(implicit request: RequestHeader)
@import controllers.handlers.OneFiveOneDateUtils
@main("151 Challenge") {

    <h2>Entries for user: @utils.authentication.UserAuthenticator.getAuthenticatedUsername(request)</h2>
    No feature to edit them yet - coming soon. For now you can always add more or do more, or ask Frank to delete something if there's a bad error.

    <table class="standard">
        <tr>
            <th>Exercise Type</th>
            <th>Reps</th>
            <th>When</th>
            <th>Comment</th>
        </tr>
    @for(eachEntry <- userExerciseEntries) {
        <tr>
            <td>@eachEntry.exerciseType</td>
            <td>@eachEntry.reps</td>
            <td>@OneFiveOneDateUtils.printableDate(eachEntry.when)</td>
            <td>@eachEntry.comment</td>
        </tr>
    }
    </table>

}

