@()(implicit request: RequestHeader)

@main("151 Challenge") {
  Here lies the 151 Challenge main page.

  <ul>
    <li><a href="/record">Record Progress</a></li>
    <li><a href="/displayEntries">Display/edit your recorded progress</a></li>
    <li><a href="/leaderboard">View Leaderboard</a></li>
  </ul>


  <p>The rules are as follows:</p>
  <p>
    In any order, interleaving as you will, do:
    <ul>
      <li>3051 Situps</li>
      <li>2051 Lunges</li>
      <li>1051 Burpees</li>
      <li>151 Miles</li>
    </ul>
  </p>
  <p>
    Then when all that is done, drink a shot of Bacardi 151 and take a picture to mark the occasion.
    We have started on 2015/01/12 at 12:00am.
  </p>
}