@(graphLabels: play.api.libs.json.JsValue, graphData: play.api.libs.json.JsValue)(implicit request: RequestHeader)

@import play.api.libs.json.Json
@import controllers.handlers.EveryoneTotals
@import controllers.handlers.OneFiveOneDateUtils
@import controllers.handlers.OneFiveOneConstants
@import utils.Exercises._

@main("151 Challenge") {
  <h1> Welcome to the 151 Challenge </h1>

  <p>
    Welcome to the 151 Challenge. If you're just getting started, check out the <a href="/rules">Rules Page</a> to get
    an idea what you're in for. We start on on @OneFiveOneDateUtils.printableDate(OneFiveOneConstants.START_OF_CHALLENGE) at 12:00am.
  </p>

  <h3>How are we doing?</h3>
  <p>
    @defining(EveryoneTotals.everyoneToday()) { everyoneToday =>
      Today (PST) so far we have done
      @everyoneToday.reps1 @yearsExercises._1.displayName,
      @everyoneToday.reps2 @yearsExercises._2.displayName,
      @everyoneToday.reps3 @yearsExercises._3.displayName
      and @everyoneToday.reps4 @yearsExercises._4.displayName.
    }
    <br/>
    @defining(EveryoneTotals.everyoneBestDay()) { everyoneBestDay =>
      Our best day was @OneFiveOneDateUtils.printableDate(everyoneBestDay._1) when we did
      @everyoneBestDay._2.reps1 @yearsExercises._1.displayName,
      @everyoneBestDay._2.reps2 @yearsExercises._2.displayName,
      @everyoneBestDay._2.reps3 @yearsExercises._3.displayName
      and @everyoneBestDay._2.reps4 @yearsExercises._4.displayName.
    }
    <div>
      Overall percentage completed by all of us, by day:<br/>
      <canvas id="everyoneLineChart" width="800" height="200"></canvas>
    </div>
    <br/>
    See the <a href="/leaderboard">Leaderboard</a> page for more stats.
  </p>
  <h3>More Info</h3>
  <p>
    You can join the <a href="https://groupme.com/join_group/11720972/BwiYla">Group Me</a> chat for all the contestants
    to ask questions, stay up to date and talk trash. If you've already joined, you can <a href="https://app.groupme.com/chats">go there now.</a>
  </p>

  <script src="@routes.Assets.at("javascript/151Visualizations.js")"></script>
  <script>createLineChart("#everyoneLineChart", @Html(Json.stringify(graphLabels)), @Html(Json.stringify(graphData)));</script>
}