@(userTotals: List[(controllers.handlers.UserAggregateExercises, controllers.handlers.PercentagesCompleted)],
        bestDayYesterday: controllers.handlers.UserAggregateExercises,
        bestSitUpsYesterday: controllers.handlers.UserAggregateExercises,
        bestLungesYesterday: controllers.handlers.UserAggregateExercises,
        bestBurpeesYesterday: controllers.handlers.UserAggregateExercises,
        bestMilesYesterday: controllers.handlers.UserAggregateExercises)(implicit request: RequestHeader)

@main("Progress") {

    <h3>Leader Board</h3>

    <table class="standard">
        <tr><th>151er</th><th>Sit Ups</th><th>Lunges</th><th>Burpees</th><th>Miles</th><th>Overall Completion</th></tr>
        @userTotals.map{ case (userTotal, percentagesCompleted) =>
            <tr>
                <td>@userTotal.username</td>
                <td>@userTotal.situps (@percentagesCompleted.sitUpsPercent%)</td>
                <td>@userTotal.lunges (@percentagesCompleted.lungesPercent%)</td>
                <td>@userTotal.burpees (@percentagesCompleted.burpeesPercent%)</td>
                <td>@userTotal.miles  (@percentagesCompleted.milesPercent%)</td>
                <td>@percentagesCompleted.overallPercent%</td>
            </tr>
        }
    </table>

    <div style="padding-top: 20px">

        <b>The best scores yesterday were: </b>
        <ul>
            <li>Overall: @bestDayYesterday.username with @bestDayYesterday.situps situps, @bestDayYesterday.lunges lunges, @bestDayYesterday.burpees burpees and @bestDayYesterday.miles miles, for @controllers.handlers.PercentageCalculator.calculateOverallPercentComplete(bestDayYesterday)%
            <li>SitUps: @bestSitUpsYesterday.username with @bestSitUpsYesterday.situps</li>
            <li>Lunges:  @bestLungesYesterday.username with @bestLungesYesterday.lunges </li>
            <li>Burpees: @bestBurpeesYesterday.username with @bestBurpeesYesterday.burpees </li>
            <li>Miles @bestMilesYesterday.username with @bestMilesYesterday.miles </li>
        </ul>
    </div>
}