@import forms.LoginForm

@(loginForm: Form[(String, String)])(implicit request: RequestHeader)

@main("151 Challenge: Login") {

  <div id="user_login">

    <h1>151 Challenge: Login</h1>

    @errors(loginForm)
    
    @helper.form(action = routes.LoginController.loginAction()) {
      @helper.inputText(loginForm(LoginForm.USERNAME_FIELD), '_label -> "Username:")
      @helper.inputPassword(loginForm(LoginForm.PASSWORD_FIELD), '_label -> "Password:")
      <input type="submit" value="Login"/>
    }

  </div>
}
