@*Main page template for 151 Challenge pages.*@
@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="@routes.Assets.at("javascript/Chart.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/151.css")">

    </head>


    <body>
        @titleBar()
        <div class="leftMenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/record">Record Progress</a></li>
                <li><a href="/displayEntries">Display/edit your recorded progress</a></li>
                <li><a href="/leaderboard">View Leaderboard</a></li>
            </ul>
        </div>
        <div class="mainSection">
            @content
        </div>
    </body>
</html>
