@(exerciseEntryForm: Form[forms.ExerciseEntryFormInput])(implicit request: Request[AnyContent])

@main("Record Progress") {
    <script>
        $(function() {
            $( "#datepicker" ).datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>

    This is the page to record stuff
    Exercise Reps Date

    @helper.form(action = routes.Application.addExerciseEntry()) {
        @helper.select(exerciseEntryForm("exerciseType"),
            ExerciseType.values.map{
                exType => (exType.toString, exType.toString)
            }.toSeq
        )
        @helper.inputText(exerciseEntryForm("reps"))
        @helper.inputDate(exerciseEntryForm("when"), 'id ->"datepicker")
        @helper.inputText(exerciseEntryForm("comment"))
        <input type="submit"/>
    }
}