@(registrationForm: Form[forms.RegistrationForm.FormData])

@if(registrationForm.hasGlobalErrors) {
  <ul>
  @for(error <- registrationForm.globalErrors) {
    <li>@error.message</li>
  }
  </ul>
}

@helper.form(action = routes.Registration.registerUser()) {
  @helper.inputText(registrationForm("username"))
  @helper.inputPassword(registrationForm("password1"))
  @helper.inputPassword(registrationForm("password2"))
  @helper.inputText(registrationForm("email"))
  @helper.inputPassword(registrationForm("passcode"))
  <input type="submit" value="Register"/>
}
