@()(implicit request: RequestHeader)

@import controllers.handlers.OneFiveOneDateUtils
@import controllers.handlers.OneFiveOneConstants
@import utils.ChallengeYears

@main("Rules of the Challenge") {
  <p>For @ChallengeYears.ThisYear.yearString, the rules are as follows:</p>
  <p>
    In any order, interleaving as you will, do:
    <ul>
      <li>3051 core exercises - Any crunch, sit up, etc, or 3 seconds of plank.
      <li>2051 lower body exercises - Any body weight exercise working primarily your legs. Air squats, lunges, or similar.
      <li>1051 upper body exercises - Any body weight exercise working primarily your arms/chest. Pull ups, chin ups, push ups. Assisted or scaled is ok - for instance using a band for pull ups or doing inclined push ups.
      <li>151 Miles - Running, rowing. 3:1 ratio for biking miles.</li>
    </ul>
  </p>
  <p>
    Then when all that is done, drink a shot of Bacardi 151 and take a picture to mark the occasion.
    We start on on @OneFiveOneDateUtils.printableDate(OneFiveOneConstants.START_OF_CHALLENGE) at 12:00am.
  </p>
  <p>
  <p>
    Conversion ratios:
  <ul>
    <li>3 Biking Miles:1 Mile</li>
    <li>Outdoor Soccer game:2 Miles</li>
    <li>Ultimate Frisbee game:2 Miles</li>
  </ul>
  <p>
    The spirit of this is to incentivize more exercise. So if you have a pedometer, think about tracking only what
    is really extra walking or running, and not your day-to-day walking in the office or home that everyone does but will not track
    without a pedometer.
  </p>
}