@()(implicit request: RequestHeader)
@import utils.authentication.UserAuthenticator

<div style="border-bottom: thin solid #000000; padding-bottom: .5em;">
    &nbsp;

    @*This is always none right now, since none of the calling templates pass it in (except for AuthTest)*@
    @defining(UserAuthenticator.getAuthenticatedUsername(request)) { authUser =>
        @authUser match {
            case Some(user) => {
                <span style="float : left">Hi @user</span>
                <span style="float : right"><a href="/logout">Logout</a></span>
            }
            case None => {
                <span style="float : right">
                    <span style="padding-right: 25px"><a href="/displayRegistration">Register a new User</a></span>
                    <span><a href="/login">Login</a></span>
                </span>
            }
        }
    }
</div>