@(userStats: UserStats)(implicit request: RequestHeader)

@import controllers.handlers.OneFiveOneDateUtils.printableDate
@import controllers.handlers.PercentageCalculator
@import play.api.libs.json.Json
@import utils.Exercises._

@main("151er stats for " + userStats.user.username) {
    <h1>@userStats.user.username Stats</h1>
    <ul>
        <li>
        @defining(userStats.bestOverallProgressAnyDay()) { bestOverall =>
            Best overall day: @printableDate(bestOverall._1) with
            @bestOverall._2.reps1 @yearsExercises._1.displayName,
            @bestOverall._2.reps2 @yearsExercises._2.displayName,
            @bestOverall._2.reps3 @yearsExercises._3.displayName
            and @bestOverall._2.reps4 @yearsExercises._4.displayName
        for overall completion of @PercentageCalculator.calculateOverallPercentComplete(bestOverall._2)%
        }
        </li>
        <li>
        @defining(userStats.bestExercise1Day()) { best1 =>
            Best @yearsExercises._1.displayName day: @printableDate(best1._1) with @best1._2.reps1
        }
        </li>
        <li>
        @defining(userStats.bestExercise2Day()) { best2 =>
            Best @yearsExercises._2.displayName day: @printableDate(best2._1) with @best2._2.reps2
        }
        </li>
        <li>
        @defining(userStats.bestExercise3Day()) { best3 =>
            Best @yearsExercises._3.displayName day: @printableDate(best3._1) with @best3._2.reps3
        }
        </li>
        <li>
        @defining(userStats.bestExercise4Day()) { best4 =>
            Best @yearsExercises._4.displayName day: @printableDate(best4._1) with @best4._2.reps4
        }
        </li>
    </ul>

    <div>
        Overall percentage completed by day:<br/>
        <canvas id="overallProgressLineChart" width="1200" height="400"></canvas>
    </div>

    <script src="@routes.Assets.at("javascript/151Visualizations.js")"></script>


    @defining(userStats.overallGraphJson) { graphData =>
        <script>
        createLineChart ( "#overallProgressLineChart",
            @Html(Json.stringify(graphData.value("days"))),
            @Html(Json.stringify(graphData.value("data")))) ;
        </script>
    }
}
